.our-team-section{
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.team-profile-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  
}

.section-header p{
  margin-top: 20px;
  max-width: 800px;
  text-align: center;
}

.profile-photo{
  display: flex;
  justify-content: center;
}

.profile-text{
  padding: 20px;
}

.profile-photo img{
  width: 100%;
}

.team-profile{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  overflow: hidden;
  border-bottom: 3px solid #06266C;
  box-shadow: 0 6px 10px rgb(0, 0, 0, 0.2);
}

.team-profile h4{
  text-align: center;
}

.team-profile p{
  color: #06266C;
  text-align: left;
}

@media (min-width: 780px){
  .team-profile-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 1024px){
  .our-team-section{
    padding: 60px 80px;
    gap: 80px;
  }
}

@media (min-width: 1200px){
  .team-profile-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}



